:root {
  --title-color: #2e2f42;
  --main-text-color: #434455;
  --second-text-color: #ffffff;
  --normal-iris-color: #4d5ae5;
  --active-okean-color: #404bbf;
  --footer-text-color: #e7e9fc;
  --portfolio-nav-color: #f4f4fd;
  --padding-top: 120px;
  --padding-bottom: 120px;
  --max-width: 264px;
  --margin-bottom-text: 8px;
  --mardin-bottom-subtitle: 72px;
  --margin-bottom-img: 32px;
  --margin-right: 24px;
}

/* * { */
/* box-sizing: border-box; */
/* margin: 0; */
/* padding: 0; */
/* } */

/* html, */
/* body { */
/* height: 100%; */
/* margin: 0; */
/* padding: 0; */
/* box-sizing: border-box; */
/* } */

body {
  font-family: "Roboto", sans-serif;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

/* address { */
/* font-style: normal; */
/* } */

button {
  cursor: pointer;
}

img {
  display: block;
}

.link {
  text-decoration: none;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.container {
  max-width: 1158px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  outline: 1px solid salmon;
}

.logo {
  font-family: "Raleway";
  font-optical-sizing: auto;
  font-weight: 800;
  /* font-style: normal; */
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 3%;
  color: var(--normal-iris-color);
}

.logo-dark {
  color: var(--title-color);
}

.logo-light {
  color: var(--footer-text-color);
}

.title {
  font-size: 36px;
  /* font-weight: 700; */
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--title-color);
}

.subtitel {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--title-color);
}

.text {
  font-size: 16px;
  /* font-weight: 400; */
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}

/*! ----------HEADER -------*/
/* .header-contact { */
/* font-style: normal; */
/* } */
/*  */

.header {
  padding-top: 24px;
  padding-bottom: 24px;
}

.main-nav {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
}

.logo-link {
  /* padding-top: 24px; */
  /* padding-bottom: 24px; */
  /* margin-right: 76px; */
}

.header-menu {
  display: flex;
  margin-left: 76px;
  /* margin-right: 332px; */
}

.header-menu-item:not(:last-child) {
  margin-right: 40px;
}

.header-menu-link {
  display: block;
  padding-top: 21px;
  padding-bottom: 21px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 2%;
  color: var(--title-color);
}

.header-menu-link.current {
  color: var(--active-okean-color);
}

.header-menu-link:active {
  color: var(--active-okean-color);
}

.header-contact {
  display: flex;
  margin-left: auto;
}

.header-contact-link {
  display: block;

  /* font-weight: 400; */
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 2%;
  /* font-style: normal; */
  color: var(--main-text-color);
}

.header-contact-item:not(:last-child) {
  margin-right: 40px;
}

/*! ----------HERO-------*/

.hero {
  background-color: var(--title-color);
  padding-top: 188px;
  padding-bottom: 292px;
  text-align: center;
}

.hero-title {
  /* font-weight: 700; */
  font-size: 56px;
  letter-spacing: 2%;
  line-height: 1.07;
  text-align: center;
  color: var(--second-text-color);
  max-width: 496px;
  margin: 0 auto 48px;
}

.hero-btn {
  min-width: 169px;
  padding: 16px 32px;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  /* letter-spacing: 4%; */
  background-color: var(--normal-iris-color);
  color: var(--second-text-color);
  /* text-align: center; */
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px #00000026;
}

.hero-btn:hover {
  background-color: var(--active-okean-color);
  border: 1px solid transparent;
}

/*! ----------UBER UNS -------*/

.uberuns {
  padding-top: var(--padding-top);
  padding-bottom: var(--padding-bottom);
}

.uberuns-list {
  display: flex;
}

.uberuns-item {
  width: 264px;
}

.uberuns-item:not(:last-child) {
  margin-right: var(--margin-right);
}

.uberuns-subtitel {
  text-align: left;
  margin-bottom: var(--margin-bottom-text);
}

.uberuns-text {
  text-align: left;
  max-width: var(--max-width);
}

/*! ----------WORK -------*/

.work {
  padding-bottom: var(--padding-bottom);
}

.work-title {
  margin-bottom: var(--mardin-bottom-subtitle);
}

.work-list {
  display: flex;
}

.work-item {
}

.work-item:not(:last-child) {
  margin-right: var(--margin-right);
}

/*! ----------OUR TEAM -------*/

.team {
  padding-top: var(--padding-top);
  padding-bottom: var(--padding-bottom);
  background-color: #f4f4fd;
}

.team-title {
  margin-bottom: var(--mardin-bottom-subtitle);
}

.team-list {
  display: flex;

  margin-right: 24px;
  /* justify-content: space-between; */
}

.team-item {
  min-width: 264px;
  flex-basis: calc((100% - 72px) * 4);
}

.team-item:not(:last-child) {
  margin-right: var(--margin-right);
}

.team-img {
  margin-bottom: var(--margin-bottom-img);
}

.team-subtitel {
  text-align: center;
  margin-bottom: var(--margin-bottom-text);
}

.team-prof {
  text-align: center;
}

/*! ----------FOOTER -------*/

.footer {
  background-color: var(--title-color);
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-logo {
}

.foot {
  font-size: 16px;
  /* font-weight: 400; */
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left;
  color: var(--footer-text-color);
  max-width: var(--max-width);
  margin-top: 16px;
}

/*! ----------PORTFOLIO -------*/

.portfolio {
  padding-top: 96px;
  padding-bottom: var(--padding-bottom);
}

.portfolio-filter {
  display: flex;
  justify-content: center;
  padding-bottom: 72px;
}

.portfolio-filter-item {
}

.portfolio-filter-item:not(:last-child) {
  margin-right: var(--margin-right);
}

.portfolio-btn {
  cursor: pointer;
  background-color: var(--portfolio-nav-color);
  color: var(--normal-iris-color);
  /* width: Hug (78px)px; */
  /* height: Hug (48px)px; */
  padding: 12px 24px;
  border-radius: 4px;
  border: 1px solid var(--footer-text-color);
  /* opacity: 0px; */
  /*  */
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  background-color: var(--active-okean-color);
  color: var(--second-text-color);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -6px; /* чтобы поместить в строку 3 элемента */
}

.portfolio-item {
  flex-basis: calc((100% - 48px) / 3);
  margin-right: var(--margin-right);
  margin-bottom: 48px;

  border: 1px solid var(--footer-text-color);
}

.portfolio-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.portfolio-item:nth-child(3n) {
  margin-right: 0;
}

.portfolio-description {
  margin-top: var(--margin-bottom-img);
  margin-bottom: var(--margin-bottom-img);
  padding-left: 16px;
}

.portfolio-subtitel {
  margin-bottom: var(--margin-bottom-text);
}

.portfolio-text {
}
